<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="row mt-5">
    <div class="col-md-5">
        <img class="rounded-circle img-fluid" src="/static/img/Professional_Picture.jpg">
    </div>
    <div class="col-md-7 text-center">
        <h1>About Me</h1>
        <p class="lead">
            Welcome to my portfolio! I am an aspiring data scientist and software engineer that recently graduated from
            The College of New Jersey with an undergraduate degree in Computer Science. I enjoy solving complex problems
            and seek the thrill in finding creative solutions to difficult tasks. Please feel free to look through
            my work and contact me about any questions, concerns, or comments.
        </p>
        <h4 style="margin-top:250px;">Contact Information:</h4>
        <div class="mt-5 d-flex justify-content-center">
            <div class="col-2">
                <a href="https://github.com/ThomasMolloy">
                    <span class="iconify" data-icon="ant-design:github-filled" data-inline="false" style="color: #007bff;" data-width="70px" data-height="70px"></span>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/thomas-molloy-8a0a7312b/">
                    <span class="iconify" data-icon="ant-design:linkedin-filled" data-inline="false" style="color: #007bff;" data-width="70px" data-height="70px"></span>
                </a>
            </div>
            <div class="col-2">
                <a href="mailto:thomasjeffersonmolloy@gmail.com">
                    <span class="iconify" data-icon="carbon:email" data-inline="false" style="color: #007bff;" data-width="70px" data-height="70px"></span>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.kaggle.com/thomasmolloy">
                    <span class="iconify" data-icon="cib:kaggle" data-inline="false" style="color: #007bff;" data-width="70px" data-height="70px"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}